.container {
  width: 800px;
  margin: 0 auto;
}

.app_form {
  background-color:lightgrey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin-bottom: 5px;
}
.app_form input {
  font-size: 18px;
  padding: 5px;
  margin-bottom: 5px;
}
.app_form label {
  margin-bottom: 10px;
}
.app_form button {
  color: white;
  background-color: green;
  border: 1px solid white;
  font-size: 16px;
  padding: 5px;
}

.isValid {
  color: green;
}

.notValid {
  color: red;
}

.rules {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
}
